﻿header{
	background-color: #0082D1;
	height: 60px;
	display:block;
}
.text-header {
	text-align: center;
	font-size: 27pt;
	padding: center;
}
body{
	margin: 0px;
	background: #005bbb;
	font-family: Consolas, sans-serif;
}
.block_left {
	width: 25%;
	height: calc(100% - 85px);
	position: absolute;
	top:60px;
	background-color: #397896;
	display:block;
	
}
.block_middle_up {
	width: 50%;
	height: 60%;
	position: absolute;
	top:60px;
	left:25%;
	background-color: #f3ce7f;
	text-align: center;
	display:block;
}
.block_middle_down {
	width: 50%;
	height: calc(40% - 85px);
	position: absolute;
	top: calc(60% + 60px); 
	left:25%;
	background-color: #397896;
	display:block;
}
.block_right {
	width: 25%;
	height: calc(100% - 85px);
	position: absolute;
	top:60px;
	left:75%;
	background-color: #397896;
	overflow: scroll;
	display:block;
}
footer{
	background-color: #ffd500;
	height: 25px;
	position: fixed; 
    left: 0; bottom: 0; 
    width: 100%; 
    display:block;
}
.text-footer {
	font-size: 14pt;
	background-color:#ffd500;
}
.text {
	margin: 20px;
	padding: 10px;
}
img {
	height: 100%;
}